@charset "UTF-8";
/*
Author:             joel
Twitter:            @cnjoel
Version:            1.0
Date:               27 May 2012
*/





/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
RESET
SHARED
MAIN
CLEARFIX
GRIDS
MEDIA
LOGO
NAV
TYPE
IMAGES
FORMS
TABLES
MISC
CLASSES
MEDIAQUERY
*/





/*------------------------------------*\
	$RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart... csswizardry.com/2011/10/reset-restarted
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
ul, ol {
	list-style: none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
strong,b,mark{
	font-weight:bold;
	font-style:inherit;
}
em,i,cite,q,address,dfn,var{
	font-style:italic;
	font-weight:inherit;
}
abbr[title],dfn[title]{
	cursor:help;
	border-bottom:1px dotted;
}
ins{
	border-bottom:1px solid;
}
a,u,ins{
	text-decoration:none;
}
del,s{
	text-decoration:line-through;
}
pre,code,samp,kbd{
	font-family:monospace;
}
small{
	font-size:0.75em;
}
img,fieldset{
	border:none;
}
button,input,
select,option,optgroup,
textarea{
	font:inherit;
}





/*------------------------------------*\
	$SHARED
\*------------------------------------*/
/*
Rather than repeating declarations over and over, let’s make a shared section.
*/

figcaption,small{
	font-size:12px;
	font-size:0.75rem;
}
small,code{
	line-height:1;
}
pre,code,
input,textarea{
	font:inherit;
}





/*------------------------------------*\
	$MAIN
\*------------------------------------*/
html{
	overflow-y:scroll; /* Force scrollbars 100% of the time */
	font-size:100%; /* Use 16px as per informationarchitects.jp/en/100e2r/ and wilsonminer.com/posts/2008/oct/20/relative-readability/ */
	line-height:1.5; /* A safe default for type of any size. */
	/* You should always specify a colour and background, override these in your own stylesheet if desired. */
	background-color:#fff;
	color:#333;
}
body{
	min-height:100%;
	font-family: Helvetica, arial, \5b8b\4f53, sans-serif;
}




/*------------------------------------*\
	$CLEARFIX
\*------------------------------------*/
/*
Fix clearing issues as per: nicolasgallagher.com/micro-clearfix-hack/
*/
.cf,
.row,
.media,
.container{
	zoom:1;
}
.cf:before,
.row:before,
.media:before,
.container:before,

.cf:after,
.row:after,
.media:after,
.container:after{
	content:"";
	display:table;
}
.cf:after,
.row:after,
.media:after,
.container:after{
	clear:both;
}



/*------------------------------------*\
	$GRIDS
\*------------------------------------*/
/*
a base grid-system 
*/
.container {
	margin: 0 auto;
	position: relative;
	width: 90%;
}

.row {
  margin-left: -3em;
}

.grid-col {
	float: left;
	padding-left: 3em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.half-gutter {
  margin-left: -1.5em;
}
.half-gutter .grid-col {
  padding-left: 1.5em;
}


.one-half { width: 50%; }

.one-third { width: 33.333%; }

	.two-third { width: 66.666%; }

.one-fourth { width: 25%; }

	.three-fourth { width: 75%; }





/*------------------------------------*\
	$MEDIA
\*------------------------------------*/
/*
Based on @stubbornella’s media object: stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
<a class="media example">
	<img src=product.jpg alt="" class=img>
	<p class=body>Get Product for half price!</p>
</a>
*/
.media{
	display:block;
}
	.media .img{
		float:left;
		display: block;
		margin-right:10px;
		*margin-right:7px;/*fuck*/
	}
	.media .body{
		overflow:hidden;
		zoom:1;
		margin-bottom:0;
	}





/*------------------------------------*\
	$LOGO
\*------------------------------------*/
/*
Your logo is an image, not a h1: csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/
<a href="/" title="Return to the homepage" class="logo">
  <img src="/images/logo.gif" alt="Nike logo" />
</a>
*/
.logo,
.logo img{
	display:block;
	width:auto; /* Width of your logo in pixels (ideally a round grid-number) */
	height:auto; /* Height of your logo in pixels */
}
/* Based on the fact that we need to use an <img /> in our markup, let’s hide the actual image and use a background on the <a>--this gives us semantically sound markup and the ability to use sprites for hover effects! */
.logo{
	background:url(/path/to/logo);
}
	.logo:hover{
		/* Hover states */
		background-position:0 -00px;
	}
.logo img{
	position:absolute;
	left:-99999px;
}





/*------------------------------------*\
	$NAV
\*------------------------------------*/
/*
Create an abstraction, as per: csswizardry.com/2011/09/the-nav-abstraction/
<ol class="nav breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/about/us/">About us</a></li>
</ol>
*/
.nav{
	list-style:none;
}
.nav li{
	display:inline;
}
.nav a{
	display:inline-block;
}





/*------------------------------------*\
	$TYPE
\*------------------------------------*/
/*--- HEADINGS ---*/
.post h1,.h1{
	font-size:2em;			/* 32px */
	line-height:1.5;		/* 48px */
}
.post h2,.h2{
	font-size:1.5em;		/* 24px */
	line-height:1;			/* 24px */
}
.post h3,.h3{
	font-size:1.25em;		/* 20px */
	line-height:1.2;		/* 24px */
}
.post h4,.h4{
	font-size:1.125em;		/* 18px */
	line-height:1.333;		/* 24px */
}
.post h5,.h5{
	font-weight:bold;
}
.post h5,.h5,
.post h6,.h6{
	font-size:1em;			/* 16px */
	line-height:1.5;		/* 24px */
}



/*--- LINKS ---*/
/*
Say no to negative hovers: csswizardry.com/2011/05/on-negative-hovers/
A negative hover is one whose appearance is subtracted from on hover rather than added to.
*/
a:visited{
	opacity:0.8; /* A bit basic, but it’s a bare minumum... */
}
a:hover{
	text-decoration:underline;
}
a:active,
a:focus{
	/* Give clicked links a depressed effect. */
	position:relative;
	top:1px;
}

/*--- LISTS ---*/

ul.numbered{
	list-style:decimal outside;
}
dt{
	font-weight:bold;
}

/*--- QUOTES ---*/
/*
Big up @boblet: html5doctor.com/blockquote-q-cite/
*/
q{ quotes:"‘" "’" "“" "”"; }

q:before{ content:"‘"; content:open-quote; }
q:after{ content:"’"; content:close-quote; }

q q:before{ content: "“"; content: open-quote; }
q q:after{ content: "”"; content: close-quote; }

blockquote{ quotes: "“" "”"; }
blockquote p:before{ content: "“"; content: open-quote; }
blockquote p:after{ content: ""; content: no-close-quote; }
blockquote p:last-of-type:after{ content: "”"; content: close-quote; }

/*blockquote{
	text-indent:-0.4em;
}*/

/*--- GENERAL ---*/
mark{
	background-color:#ffc;
	color:#333;
}

/*--- CODE ---*/
pre,
code{
	font-family:"Inconsolata", "Monaco", "Consolas", "Courier New", Courier, monospace;
}
pre{
	overflow:auto;
	line-height:24px; /* Having to define explicit pixel values :( */
}





/*------------------------------------*\
	$IMAGES
\*------------------------------------*/
img{
	max-width:100%;
	height:auto;
	/* Give it some text styles to offset alt text */
	color:#c00;
}
img.left	{ margin:0 1.5em 0 0; }
img.right	{ margin:0 0 0 1.5em; }

/*--- FLASH/VIDEO ---*/
object,
embed,
video{
	max-width:100%;
	height:auto;
}





/*------------------------------------*\
	$FORMS
\*------------------------------------*/
/*
Unfortunately, and somewhat obviously, forms don’t fit the baseline all too well. Perhaps in a later version...
*/
/*fieldset{
	padding:1.5em;
	border:1px solid #ccc;
}*/

.text-input{
	/* With the advent of various HTML5 input types (email, url, etc) input[type=text] is no longer suitable for for styling non-textearea text-inputs. Use .text-input instead. */
}
label,
.text-input,
textarea,
.btn{
	cursor:pointer;
}
	.text-input:active,
	.text-input:focus,
	textarea:active,
	textarea:focus{
		cursor:text;
	}

/* A class of .check-list can be added to a <ul> to create a multi-column list of inputs. */
.check-list{
	width:100%;
	overflow:hidden;
	list-style:none;
	margin-left:0;
}
.check-list li{
	width:25%;
	float:left;
}
.check-label{
	display:inline;
}
fieldset > :last-child{
	/* Remove the margin from the last element in the fieldset--this makes our padding more consistent. */
	margin-bottom:0;
}





/*------------------------------------*\
	$TABLES
\*------------------------------------*/
/*
Unfortunately, and somewhat obviously, tables don’t fit the baseline all too well. Perhaps in a later version...
*/
table{
	width:100%;
	max-width:100%;
}
thead tr:last-of-type th{
	/* Thicker border on the table-headers of the last row in the table head. */
	border-bottom-width:2px;
}
tbody th{
	/* Thicker right border on table-headers in the table body. */
	border-right-width:2px;
}
th:empty{
	/* Hide the borders on any empty table-headers. */
	border:none;
}
th,td{
	vertical-align:top;
	padding:0.75em;
	border:1px solid #ccc;
}
th{
	font-weight:bold;
	text-align:center
}
table [colspan]{
	text-align:center;
}
table [rowspan]{
	vertical-align:middle;
}
/*
Assuming IE has an 'implied' colspan of one on cells without an explicit colspan attribute, fix/undo it.
See jsfiddle.net/csswizardry/UJJay/
*/
[colspan="1"]{
    text-align:left;
}
[rowspan="1"]{
    vertical-align:top;
}
tbody tr:nth-of-type(odd){
	background:rgba(0,0,0,0.05);
}
tfoot{
	text-align:center;
}
tfoot td{
	border-top-width:2px;
}





/*------------------------------------*\
	$MISC
\*------------------------------------*/
.accessibility{
	/* Hide content off-screen without hiding from screen-readers. N.B. This is not suited to RTL languages */
	position:absolute;
	left:-99999px;
}
.more-link:after{
	/* Too many people use &raquo; in their markup to signify progression/movement, that ain’t cool. Let’s insert that using content:""; */
	content:" »";
}





/*------------------------------------*\
	$CLASSES
\*------------------------------------*/
/*
Some not-too-pretty and insemantic classes to do odd jobs.
*/
.left	{ float:left; }
.right	{ float:right; }
.clear	{ clear:both; float:none; }

.text-left		{ text-align:left; }
.text-right		{ text-align:right; }
.text-center,
.text-centre	{ text-align:center; }




/*------------------------------------*\
	$MEDIAQUERY
\*------------------------------------*/
/* -- Media query 1 (mq1)
------------------------------------------------------------- */
@media only screen and (min-width: 30em) {
  .mq1-one-half {
    width: 50%; }

  .mq1-one-third {
    width: 33.333%; }

  .mq1-two-third {
    width: 66.666%; }

  .mq1-one-fourth {
    width: 25%; }

  .mq1-three-fourth {
    width: 75%; } }
/* -- Media query 2 (mq2)
------------------------------------------------------------- */
@media only screen and (min-width: 48em) {
  .mq2-one-half {
    width: 50%; }

  .mq2-one-third {
    width: 33.333%; }

  .mq2-two-third {
    width: 66.666%; }

  .mq2-one-fourth {
    width: 25%; }

  .mq2-three-fourth {
    width: 75%; } }
/* -- Media query 3 (mq3)
------------------------------------------------------------- */
@media only screen and (min-width: 60em) {
  .mq3-one-half {
    width: 50%; }

  .mq3-one-third {
    width: 33.333%; }

  .mq3-two-third {
    width: 66.666%; }

  .mq3-one-fourth {
    width: 25%; }

  .mq3-three-fourth {
    width: 75%; } }